body {
  background-color: #ffffff;
}

.container {
  position: relative;
}

.left {
  position: absolute;
  width: 60%;
}

.right {
  position: absolute;
  left: 60%;
  width: 40%;
}

.search {
  position: relative;
  background-color: #dd00dd;
  width: 100%;
  height: 50px;
}

.command_list {
  background-color: #0000dd;
  width: 100%;
  height: 150px;
}

.command_history {
  background-color: #00dddd;
  width: 100%;
  height: 150px;
}

.menu {
  background-color: #333333;
  width: 100%;
  height: 50px;
}

.history {
  background-color: #777997;
  width: 100%;
  height: 300px;
}


input[name="text1"] {
  background-color: rgba(0,0,0, 0.05);
  border: 0;
  outline: 0; /*フォーカスした時の線を消す*/
  height: 40px; /* 高さ40px */
  width: 100%;
  padding: 0 10px; 
  position: absolute; /* 絶対配置 */
  left: 40px;
  margin-top: 10px;

  box-sizing: content-box; /* 幅にパディングを含めない */
}

input[type="image"] {
  background-color: rgba(0,0,0, 0.05);
  border: 0;
  outline: 0; /*フォーカスした時の線を消す*/
  padding: 0;
  width: 40px;
  height: 40px; /* 高さ40px */
  position: absolute; /* 絶対配置 */
  left: 0px; 
  margin-top: 10px;
  
}

#humberger {
  position: absolute; /* 絶対配置 */
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 24px;
  width: 36px;
  vertical-align: middle;
}
#humberger div {
  display: inline-block;
  height: 4px;
  width: 24px;
  background-color:#444;
  margin: 2px 6px;
  border-radius: 2px;
}



div.command {
  /* background-color: rgba(0,0,0, 0.05); */
  position :absolute;
  width: 100%;
  height: 180px; /* 高さ40px */
  /* top:250px; */
}

.label {width:100%;color:#fff;background: #3d3d3d;padding:5px;font-size:120%;}
a {color:#fff;text-decoration: none;}

li {
  background-color: #ffff00;
  margin-top: 5px;
  height: 24px;
  width: 100%;
}

li:hover {
  background-color: #ff7700;
}